.logo {
    height: 75px;
}

.subtitle {
    font-style: italic;
    font-size: x-large;
    color: blueviolet;
}

.netWorth {
    border: cornflowerblue;
    background-color: turquoise;
    color: yellow;
    font-size: 2em;
    text-align: center;
}
