body
{
    font-family:Tahoma, Verdana;
    background-color:#A3C2D1;
}

.PageMainHeading
{
    font-family:Tahoma, Verdana;
    font-size:2em;
}

.GridHeading
{
    font-family: Tahoma, Verdana;
    font-size: 1.5em;
}

.InstructionLabel
{
    font-size:small
}